**/__pycache__
.idea/
**/.DS_STORE
**/log
logs
logs_scp/
**/build
**/dist
**/*.egg-info
**/.vscode
**/_log
*.out
*.dat
*.sif
*.sbatch
scripts/
!backup/*.out
test*.py
dataset/
*_debug.pth
pointmaze_test/